.card {
  color: var(--white);
  margin-bottom: 16px;
}

.card__image {
  height: 320px;
  background: no-repeat;
  background-size: auto;
  background-position: top;
}

.card__image__1 {
  position: relative;
  top: 20px;
}

.card__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 20px 0 0;
  max-width: 316px;
  font-size: 23px;
  font-weight: 600;
  list-style: none;
}

.card__list__item {
  min-width: 260px;
  margin-top: 16px;
}

.card__list__image {
  width: 20px;
  margin-right: 10px;
}
