.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 10px;
  align-items: center;
  width: 100%;
  height: auto;
  max-height: 1500px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/assets/img/background_2.jpg") center center/cover;
}

.about__background {
  position: absolute;
  top: calc(100% + 20px);
}

.about__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 56px;
}

@media only screen and (max-width: 909px) {
  .about__cards {
    flex-direction: column;
  }
}
