.form__subtitle,
.edit__phone__container {
  font-size: 24px;
  font-weight: 500;
}

.form__label {
  position: relative;
  top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.edit__phone__container {
  display: flex;
  max-width: 250px;
}

.resend__container {
  position: relative;
  top: -115px;
  font-size: 20px;
  font-weight: 500;
}

.resend,
.resend:visited {
  text-decoration: none;
  font-weight: bold;
  color: var(--white);
}

.icon__edit {
  cursor: pointer;
  margin-left: 20px;
  max-width: 24px;
  max-height: 24px;
}
