.moreInfo {
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: movedown 0.5s alternate infinite ease-out;
}

.moreInfo__text {
  margin: 0;
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
}

.moreInfo__image {
  width: 60px;
}

@keyframes movedown {
  0% {
    top: -20px;
  }
  100% {
    top: -40px;
  }
}

@media only screen and (max-width: 720px) {
  .moreInfo__image {
    width: 50px;
  }
}
