.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--white);
  width: 359px;
  height: 439px;
  margin: 0 -20px 0;
  border-radius: 8px;
  padding: 0 20px;
}

.card__1 {
  padding: 0 20px 0 0;
  font-size: 21px;
}

.card.featured {
  width: 486px;
  height: 561px;
  background-color: var(--orange-light);
  margin: 0;
  z-index: 10;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.7);
  font-size: 28px;
}

.card__3 {
  padding: 0 10px 0 20px;
  font-size: 21px;
}

.card__separator,
.card__separator::before,
.card__separator::after {
  position: relative;
  background-color: var(--orange);
  width: 30px;
  height: 2px;
  left: -30px;
  border-radius: 20px;
  min-height: 2px;
}

.card__separator::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 38px;
  background-color: inherit;
}

.card__separator::after {
  content: "";
  position: absolute;
  left: 55px;
  background-color: inherit;
}

.card__separator__featured {
  background-color: var(--white);
}

.card__image__1 {
  height: 168px;
  width: 168px;
}

.card__image__3 {
  height: 160px;
  width: 160px;
}

.card__image__featured {
  width: 238px;
  height: 239px;
}

.card__title {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin: 8px 0;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  font-size: inherit;
  letter-spacing: 0.14px;
  padding: 24px;
  margin-left: 24px;
  min-width: 239px;
}

.card__list__item {
  word-wrap: anywhere;
  margin-bottom: 4px;
}

.card__list__item::before {
  max-width: 10px;
  max-height: 10px;
  content: "\00b7";
  font-size: 00px;
}

.text__featured {
  font-weight: bold;
}

@media only screen and (max-width: 840px) {
  .card {
    margin: 0px 0px -10px;
  }
}
