.previousStep,
.previousStep:visited {
  display: flex;
  align-items: center;
  margin-top: 16px;
  color: var(--white);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px;
}

.previousStep__arrow {
  font-size: 20px;
  margin-right: 8px;
  margin-bottom: 2px;
  font-weight: normal;
}
